<template>
    <div class="card">
        <h2>{{ book.title }}</h2>
        <h3>{{ book.author }}</h3>
        <img v-if="book.isbn" v-bind:src="'http://covers.openlibrary.org/b/isbn/' + book.isbn"
</template>