
input:required {
    border: 1px dashed red;
}
form {
    width: 300px;
    border: 15px solid rgb(128, 0, 0);
    padding: 50px;
    margin: 20px;
    background-color: rgb(199, 199, 199);
}
input {
    padding: 1.8mm;
}