
header {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}
p {
    margin-left: 80px;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   width: 40%;
   height: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}   

ul {
    font-style: italic;
}

th {
    font-size: 115%;
    line-height: 30px;
}

td {
    padding: 8px;
}

table {
    padding: 50px;
}

/*
Style content using CSS
Set a font for the page or certain elements.
Use a different background color for the page.
You may need to change the text color, too.
Make the quotes display in italics.
Center align the main title.
Set section headings to display underlined.
Change the font size for at least one element.
Try adding some other CSS properties like line-height and see how that changes content layout.
Tips:

Use CSS to make the image smaller if you need to.
Keep the list short, to about 3-4 items. If you pick something that causes you to have a long list, pick a few notable ones.
Don't get too caught up in specifics. It's more important to see your code was done correctly than having accurate information.
Refer to the student book for examples of HTML and CSS.
*/